.butn{
    text-align: center;
    display: inline-block;
    background-color: aquamarine;
    float: left;
    width: 50%;
    height: 650px;
}


.button{
    text-align: center;
    display: inline-block;
    background-color:gray;
    width: 50%;
    height: 650px;
}
